<h1>Тест по географии для самых умных</h1>
<form name="test">
  <ol>
    <li><b> Какая самая большая по населению страна Европы?</b><br/>
      <input type="radio" value="0" name="check1"/> Россия<br />
      <input type="radio" value="1" name="check1"/> Великобритания<br />
      <input type="radio" value="2" name="check1"/> Турция<br />
      <input type="radio" value="3" name="check1"/> Германия<br />
      <br/></li>
    <li><b> Какое озеро самое большое в США?</b><br/>
    <input type="radio" value="0" name="check2"/> Большое соленое озеро<br />
    <input type="radio" value="1" name="check2"/> Верхнее озеро<br />
    <input type="radio" value="2" name="check2"/> Нижнее озеро<br />
    <input type="radio" value="3" name="check2"/> Гибкое озеро<br />
      <br/></li>
    <li><b> Самая большой Водопад в мире?</b><br/>
    <input type="radio" value="0" name="check3"/> Виктория<br />
    <input type="radio" value="1" name="check3"/> Ниагарский водопад<br />
    <input type="radio" value="2" name="check3"/> Логунный водопад<br />
    <input type="radio" value="3" name="check3"/> Гавайский<br />
      <br/></li>
    <li><b> Что такое снег</b><br/>
      <input type="radio" value="0" name="check4"/> Ледяная круппа<br />
      <input type="radio" value="1" name="check4"/> Замёрзшая вода<br />
      <br/></li>
    <li><b> Какая самая большая страна Африки по количеству населения?</b><br/>
      <input type="radio" value="0" name="check5"/> Нигерия<br />
      <input type="radio" value="1" name="check5"/> Египет<br />
      <br/></li>
  </ol>
  <input type="button" (click)="check_me()" value="Показать результат"/>
  <input type="reset"  value="Сбросить ответы"/>
</form>
<p>Имя пользователя: {{user?.name}}</p>
<p>Возраст пользователя: {{user?.age}}</p>
