<h1>Тест по географии для самых умных</h1>
<form name="test">
  <ol>
    <li><b> {{question1}}</b><br/>
      <input type="radio" value="0" name="check1"/> {{id1}}<br />
      <input type="radio" value="1" name="check1"/> {{id2}}<br />
      <input type="radio" value="2" name="check1"/> {{id3}}<br />
      <input type="radio" value="3" name="check1"/> {{id4}}<br />
      <br/></li>
    <li><b> {{question2}}</b><br/>
    <input type="radio" value="0" name="check2"/> {{id5}}<br />
    <input type="radio" value="1" name="check2"/> {{id6}}<br />
    <input type="radio" value="2" name="check2"/> {{id7}}<br />
    <input type="radio" value="3" name="check2"/> {{id8}}<br />
      <br/></li>
    <li><b> {{question3}}</b><br/>
    <input type="radio" value="0" name="check3"/> {{id9}}<br />
    <input type="radio" value="1" name="check3"/> {{id10}}<br />
    <input type="radio" value="2" name="check3"/> {{id11}}<br />
    <input type="radio" value="3" name="check3"/> {{id12}}<br />
      <br/></li>
    <li><b> {{question4}}</b><br/>
      <input type="radio" value="0" name="check4"/> {{id13}}<br />
      <input type="radio" value="1" name="check4"/> {{id14}}<br />
      <br/></li>
    <li><b> {{question5}}</b><br/>
      <input type="radio" value="0" name="check5"/> {{id15}}<br />
      <input type="radio" value="1" name="check5"/> {{id16}}<br />
      <br/></li>
  </ol>
  <input type="button" (click)="check_me()" value="Показать результат"/>
  <input type="reset"  value="Сбросить ответы"/>
</form>
