<h1>Тест по географии для самых умных</h1>
<form name="test">
  <ol>
    <li><b>  </b><br/>
      <input type="radio" value="0" name="check1"/> <br />
      <input type="radio" value="1" name="check1"/> <br />
      <input type="radio" value="2" name="check1"/> <br />
      <input type="radio" value="3" name="check1"/> <br />
      <br/></li>
    <li><b> </b><br/>
    <input type="radio" value="0" name="check2"/><br />
    <input type="radio" value="1" name="check2"/> <br />
    <input type="radio" value="2" name="check2"/> <br />
    <input type="radio" value="3" name="check2"/> <br />
      <br/></li>
    <li><b> </b><br/>
    <input type="radio" value="0" name="check3"/> <br />
    <input type="radio" value="1" name="check3"/> <br />
    <input type="radio" value="2" name="check3"/> <br />
    <input type="radio" value="3" name="check3"/> <br />
      <br/></li>
    <li><b> </b><br/>
      <input type="radio" value="0" name="check4"/> <br />
      <input type="radio" value="1" name="check4"/> <br />
      <br/></li>
    <li><b> </b><br/>
      <input type="radio" value="0" name="check5"/> <br />
      <input type="radio" value="1" name="check5"/> <br />
      <br/></li>
  </ol>
  <input type="button" (click)="check_me()" value="Показать результат"/>
  <input type="reset"  value="Сбросить ответы"/>
</form>
