<div class="block_image">
  <img src="https://cs8.pikabu.ru/post_img/big/2016/06/16/6/146606710819091187.png" />
</div>
<div class="content">
  <nav>
    <ul>
      <li>
        <img src="assets\img\monstrs_1.png">
        <div class="but_mon">
          <button name="button">Click Me</button>
        </div>
      </li>

      <li>
        <img src="assets\img\monstrs_2.png">
        <div class="but_mon">
          <button name="button">Click Me</button>
        </div>
      </li>

      <li>
        <img src="assets\img\monstrs_3.png" >
        <div class="but_mon">
          <button name="button">Click Me</button>
        </div>
      </li>
    </ul>
  </nav>
</div>

